<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shipmap.modules.base.dao.CompanyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shipmap.modules.base.model.Company">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="name_en" property="nameEn"/>
        <result column="adress" property="adress"/>
        <result column="telephone" property="telephone"/>
        <result column="company_lead" property="companyLead"/>
        <result column="tech_lead" property="techLead"/>
        <result column="company_lead_phone" property="companyLeadPhone"/>
        <result column="tech_lead_phone" property="techLeadPhone"/>
        <result column="email" property="email"/>
        <result column="province" property="province"/>
        <result column="remark" property="remark"/>
        <result column="update_time" property="updateTime"/>
        <result column="updator" property="updator"/>
        <result column="create_time" property="createTime"/>
        <result column="creator" property="creator"/>
        <result column="del" property="del"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name,name_en, adress, telephone, company_lead, tech_lead, company_lead_phone, tech_lead_phone, email, province, remark, update_time, updator, create_time, creator, del
    </sql>

    <select id="getCompanyId" resultType="java.lang.Integer">
        select nextval('tb_company_id_seq')
    </select>

    <select id="selectCompanyName" resultType="com.shipmap.modules.base.model.Company">
        SELECT id,name FROM tb_company where del='0'
    </select>

</mapper>
