<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shipmap.modules.base.dao.FishMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shipmap.modules.base.model.Fish">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="remark" property="remark"/>
        <result column="update_time" property="updateTime"/>
        <result column="updator" property="updator"/>
        <result column="create_time" property="createTime"/>
        <result column="creator" property="creator"/>
    </resultMap>

    <resultMap id="BaseResultMap2" type="com.shipmap.modules.base.model.NameVO">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, remark, update_time, updator, create_time, creator
    </sql>

    <select id="getFishId" resultType="java.lang.Integer">
  	  select nextval('tb_fish_id_seq')
    </select>

    <select id="selectFishByShip" resultMap="BaseResultMap2">
        select s.id,s.name from tb_ship_fish sf left join  tb_fish s on sf.fish_id = s.id where sf.ship_id=#{id}
    </select>

    <select id="selectAll" resultMap="BaseResultMap2">
        select s.id,s.name from tb_fish s where s.del=0
    </select>

    <!--除选中鱼种信息外剩余的鱼种信息-->
    <select id="selectRemaining" resultMap="BaseResultMap2">
      select s.id,s.name from tb_fish s  where  not EXISTS(SELECT * FROM  tb_ship_fish c WHERE s.id=c.fish_id and c.ship_id=#{id})
 </select>
</mapper>
