<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shipmap.modules.fishing.dao.DiscardMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shipmap.modules.fishing.model.Discard">
        <id column="id" property="id"/>
        <result column="fish_id" property="fishId"/>
        <result column="weight" property="weight"/>
        <result column="sum" property="sum"/>
        <result column="reason" property="reason"/>
        <result column="reason_note" property="reasonNote"/>
        <result column="fishName" property="fishName"/>
        <result column="standard_id" property="standardId"/>
        <result column="unit_id" property="unitId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, fish_id, weight, sum, reason, reason_note,standard_id,unit_id
    </sql>

    <select id="selectListByLogId" resultMap="BaseResultMap">
        select d.id, fish_id, weight, sum,standard_id,unit_id, reason, reason_note,f.name fishName from tb_discard d left join tb_fish f on d.fish_id=f.id where log_id=#{id}
    </select>

    <delete id="deleteByLogId">
        delete from tb_discard where log_id = #{id}
    </delete>
</mapper>
