<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shipmap.modules.fishing.dao.TripMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shipmap.modules.fishing.model.Trip">
        <id column="id" property="id"/>
        <result column="ship_id" property="shipId"/>
        <result column="unloading_agent" property="unloadingAgent"/>
        <result column="trip_no" property="tripNo"/>
        <result column="target_spec" property="targetSpec"/>
        <result column="departure" property="departure"/>
        <result column="unloading_place" property="unloadingPlace"/>
        <result column="departure_time" property="departureTime"/>
        <result column="unloading_time" property="unloadingTime"/>
        <result column="create_time" property="createTime"/>
        <result column="creator" property="creator"/>
        <result column="update_time" property="updateTime"/>
        <result column="updator" property="updator"/>
        <result column="shipName" property="shipName"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, ship_id, unloading_agent, trip_no, target_spec, departure, unloading_place, departure_time, unloading_time, create_time, creator, update_time, updator
    </sql>

    <select id="getTripId" resultType="java.lang.Integer">
        select nextval('tb_trip_id_seq')
    </select>

    <select id="selectByTripId" resultMap="BaseResultMap">
        select t.*,s.name shipName from tb_trip t left join tb_ship s on t.ship_id=s.id where t.id=#{tripId}
    </select>

    <insert id="insertTrip" parameterType="com.shipmap.modules.fishing.model.Trip">
         INSERT INTO tb_trip ("id","ship_id","unloading_agent","trip_no","target_spec","departure","unloading_place","departure_time","unloading_time","create_time","creator","update_time","updator")
         VALUES (#{id},#{shipId},#{unloadingAgent},#{tripNo},#{targetSpec},#{departure},#{unloadingPlace},#{departureTime},#{unloadingTime},#{createTime},#{creator},#{updateTime},#{updator});
    </insert>

    <select id="selectByShipIdAndTime" resultMap="BaseResultMap">
        select id, ship_id, unloading_agent, trip_no, target_spec, departure, unloading_place, departure_time, unloading_time
        from tb_trip where ship_id=#{shipId} and departure_time=#{departureTime}
    </select>
    <update id="updateFieldsById">
        update tb_trip
        <set>
            <if test="unloadingAgent != null">
                unloading_agent = #{unloadingAgent},
            </if>
            <if test="tripNo != null">
                trip_no = #{tripNo},
            </if>
            <if test="targetSpec != null">
                target_spec = #{targetSpec},
            </if>
            <if test="departure != null">
                departure = #{departure},
            </if>
            <if test="unloadingPlace != null">
                unloading_place = #{unloadingPlace},
            </if>
            <if test="unloadingTime != null">
                unloading_time = #{unloadingTime},
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>
